/*
 * The design's three fonts, shipped with the game (latin subset, from Fontsource), so the page
 * loads nothing from the network. All three are under the SIL Open Font License 1.1: see
 * pixelify-sans-OFL.txt, atkinson-hyperlegible-OFL.txt and vt323-OFL.txt next to them.
 */

@font-face {
  font-family: 'Pixelify Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/static/pixelify-sans-latin-500-normal.woff2) format('woff2');
}

@font-face {
  font-family: 'Pixelify Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/static/pixelify-sans-latin-700-normal.woff2) format('woff2');
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/static/atkinson-hyperlegible-latin-400-normal.woff2) format('woff2');
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/static/atkinson-hyperlegible-latin-700-normal.woff2) format('woff2');
}

@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/static/vt323-latin-400-normal.woff2) format('woff2');
}
